body{
	padding: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
section#main{
	height: 100%;
	width: 100%;
	position: relative;
}
.apoios{
	position: relative;
	height: 100%;
}
div.logos-img{
	background-image: url('../img/logos.jpg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	bottom:100px;
	left:0;
	right:0;
	top:0;
}
div.buttons{
	position: absolute;
	bottom:20px;
	left:20px;
	right:20px;
	padding-top:20px;
	text-align: center;
}
.button{
	position: relative;
	background-color: #fff;
	border: 1px solid #333;
	color: #333;
	transition: all ease-in-out .2s;
}
.button:hover,
.button:active,
.button:focus{
	background-color: #333;
	border: 1px solid #fff;
	color: #fff;
}
.main-content{
	height: 100%;
	background-color: #efefef;
	padding: 120px 20px;
	overflow-y: scroll;
}
#form, #respostas{
	display: none;
	width: 100%;
	height: 100%;
	padding-top: 50px;
}
iframe{
	width: 100%;
	height: 100%;
}
#close-form, #close-respostas{
	font-size: 30px;
	color: #333;
	position: absolute;
	top: 0px;
	right: 20px;
}
.main-content h5{
	font-family: 'Oswald', sans-serif;
	color: #333;
	margin-bottom: 60px;
	font-size: 1.2em;
}
.main-content p{
	font-family: 'Tinos', serif;
	color: #666;
	line-height: 2em;
}
p.exmo{
	margin-bottom: 0;
}
div.texto-carta{
	margin-top: 2em;
}
p.local-data{
	text-align: right;
}
.medium-up{
	display: block;
}
.small{
	display: none;
}

@media (max-width: 480px){
	.main-content{
		height: auto;
		overflow: visible;
		padding: 30px 20px;
	}
	.main-content h5{
		margin-bottom: 30px;
	}
	.main-content p{
		font-size: .8em;
	}
	.main-content p.local-data{
		text-align: left;
	}
	div.buttons{
		position: fixed;
		background-color: #fff;
		bottom: 0;
		left: 0;
		right: 0;
	}
	div.logos-img{
		bottom: 30px;
	}
	.medium-up{
		display: none;
	}
	.small{
		display: block;
	}
}
@media (max-width: 1200px){
	div.apoios.buttons .button{
		font-size: .8em;
		padding:10px;
	}
}