body{
	padding: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
section#main{
	height: 100%;
	width: 100%;
	position: relative;
}
.apoios{
	position: relative;
	height: 100%;
}
div.logos-img{
	background-image: url('../img/logos.jpg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	bottom:100px;
	left:0;
	right:0;
	top:0;
}
div.buttons{
	position: absolute;
	bottom:20px;
	left:20px;
	right:20px;
	padding-top:20px;
	text-align: center;
}
.apoios button{
	position: relative;
	margin: 10px;
	background-color: #fff;
	border: 1px solid #333;
	color: #333;
	transition: all ease-in-out .2s;
}
.apoios button:hover,
.apoios button:active,
.apoios button:focus{
	background-color: #333;
	border: 1px solid #fff;
	color: #fff;
}
.main-content{
	height: 100%;
	background-color: #efefef;
	padding: 120px 20px;
	overflow-y: scroll;
}

.main-content h5{
	font-family: 'Oswald', sans-serif;
	color: #333;
	margin-bottom: 60px;
	font-size: 1.2em;
}
.main-content p{
	font-family: 'Martel', serif;
	color: #666;
	margin-bottom: 1em;
	font-size: .9em;
	line-height: 2em;
}
p.exmo{
	color: #333;
}
div.texto-carta{
	margin-top: 2em;
}
p.local-data{
	text-align: right;
}